/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: Arial, sans-serif;
}

section {
  scroll-margin-top: 8vh;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005bab;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 8vh;
  width: 100%;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

/* Nav */
.nav-bar {
  display: flex;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-bar ul li button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.6em;
}

.nav-bar ul li button:hover {
  border-bottom: solid 4px white;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.8em;
}

/* Destaque */
#destaque {
  background-image: radial-gradient(#ffff, #c7c7c7);
  width: 100%;
}

.frame-destaque {
  display: flex;
  padding: 2vh;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imagem-destaque {
  flex: 1;
  display: flex;
  height: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}


.texto-destaque {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.texto-destaque h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #005bab;
}

.button-destaque {
  background-color: #005bab;
  color: white;
  width: 15em;
  height: 3em;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 3em;
  border: none;
  cursor: pointer;
}

.button-destaque:hover {
  background-color: #005096;
  transform: scale(1.05);
}

/*Produtos*/

.produtos {
  padding: 3em;
  width: 100%;
  background-color: #555555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.produtos h1 {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.div-produtos {
  padding: 2em;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-produtos {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #c7c7c7;
  border-radius: 10px;
}

.card-produtos:hover{
  transform: scale(1.05);
}

.card-produtos button{
  left: 0;
  bottom: 0;
  background-color: #005bab;
  border-radius: 10px;
  border: none;
  color: white;
}


.card-produtos button:hover{
  transform: scale(1.03);
  background-color: #005096;
}

.card-produtos button a{
  text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-bar {
    display: none;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100%;
    background-color: #005bab;
    flex-direction: column;
    text-align: center;
  }

  .nav-bar ul {
    flex-direction: column;
  }

  .nav-bar ul li {
    margin: 10px 0;
  }

  #menu-toggle:checked ~ .nav-bar {
    display: flex;
  }

  .frame-destaque {
    flex-direction: column;
  }
}
